{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="well well-light well-sm no-margin no-padding j-members">

        <div class="row">

            <div class="col-sm-12">
                <div id="myCarousel" class="carousel fade profile-carousel">
                    <div class="air air-bottom-right padding-10"
                         data-email="{{ instance.email }}">
                        {% if user.pk != instance.pk %}
                            {% if not is_bookmark %}
                                <button type="button"
                                        class="j-members_bookmark btn txt-color-white bg-color-teal btn-sm">
                                    <i class="fa fa-check"></i> Bookmark
                                </button>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'accounts:edit' %}"
                               class="btn txt-color-white bg-color-pinkDark btn-sm">
                                <i class="fa fa-edit"></i> Edit</a>
                        {% endif %}
                    </div>
                    {#                    <div class="air air-top-left padding-10">#}
                    {#                        <h4 class="txt-color-white font-md">Jan 1, 2014</h4>#}
                    {#                    </div>#}
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0"
                            class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"
                            class=""></li>
                        <li data-target="#myCarousel" data-slide-to="2"
                            class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <!-- Slide 1 -->
                        <div class="item active">
                            <img src="{% static 'img/s1.jpg' %}"
                                 alt="demo user">
                        </div>
                        <!-- Slide 2 -->
                        <div class="item">
                            <img src="{% static 'img/s2.jpg' %}"
                                 alt="demo user">
                        </div>
                        <!-- Slide 3 -->
                        <div class="item">
                            <img src="{% static 'img/s3.jpg' %}"
                                 alt="demo user">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">

                <div class="row">

                    <div class="col-sm-3 profile-pic">
                        <img class="img-responsive"
                             src="{{ instance.avatar.url }}" alt="user">
                    </div>
                    <div class="col-sm-6">
                        <h1>{{ instance.first_name }} <span
                                class="semi-bold">{{ instance.last_name }}</span>
                            <br>
                            <small> {{ instance.country.name }}, {{ instance.date_of_birth | age }}</small>
                        </h1>

                        <ul class="list-unstyled">
                            <li>
                                <p class="text-muted">
                                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a
                                        href="mailto:simmons@smartadmin">{{ instance.email }}</a>
                                </p>
                            </li>
                            <li>
                                <p class="text-muted">
                                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;<span
                                        class="txt-color-darken">
                                    <a target="_blank"
                                       href="{{ instance.twitter }}">{{ instance.twitter }}</a>
                                </span>
                                </p>
                            </li>
                            <li>
                                <p class="text-muted">
                                    <i class="fa fa-facebook"></i>&nbsp;&nbsp;<span
                                        class="txt-color-darken">
                                    <a target="_blank"
                                       href="{{ instance.facebook }}">{{ instance.facebook }}</a>
                                </span>
                                </p>
                            </li>
                            <li>
                                <p class="text-muted">
                                    <i class="fa fa-instagram"></i>&nbsp;&nbsp;<span
                                        class="txt-color-darken">
                                    <a target="_blank"
                                       href="{{ instance.instagram }}">{{ instance.instagram }}</a>
                                </span>
                                </p>
                            </li>
                            <li>
                                <p class="text-muted">
                                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;
                                    <span class="txt-color-darken">Join
                                        {{ instance.date_joined | date }}
                                    </span>
                                </p>
                            </li>
                        </ul>
                        <br>
                        <p class="font-md">
                            <i>A little about me...</i>
                        </p>
                        <p>{{ instance.bio | safe }}</p>
                        <br>
                        {% if user.pk != instance.pk %}
                            <div data-email="{{ instance.email }}">
                                <a href="javascript:void(0);"
                                   class="j-members_message btn btn-default btn-xs">
                                    <i class="fa fa-envelope-o"></i> Send
                                    Message
                                </a>
                            </div>
                        {% endif %}
                        <br>
                        <br>

                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
        </div>
        {% if user.pk == instance.pk %}
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <div class="padding-10">
                        <ul class="nav nav-tabs tabs-pull-right">
                            <li class="active">
                                <a href="#a1" data-toggle="tab">Мои закладки</a>
                            </li>
                        </ul>
                        <div class="tab-content padding-top-10">
                            <div class="tab-pane fade in active" id="a1">
                                {% for bookmark in bookmarks %}
                                    <div class="user">
                                        <img src="{{ bookmark.avatar.url }}"
                                             alt="demo user">
                                        <a href="{{ bookmark.get_absolute_url }}">{{ bookmark.first_name }} {{ bookmark.last_name }}</a>
                                        <div class="email">
                                            {{ bookmark.email }}
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>Нет закладок</p>
                                {% endfor %}
                            </div><!-- end tab -->
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- end row -->
    </div>
{% endblock %}